*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 217, 0);
}
h1{
    padding-bottom: 20px;
}
.pari{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgb(0, 0, 0);
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    background: rgb(17,107,143);
    cursor: pointer;
}
.buttoni{
    text-decoration: none;
    color: black;
}
button:hover{
    color: rgb(71, 140, 167);
}
a:hover{
    color: rgb(80, 185, 226);
    
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.termet{
    margin-top: 0.2rem;
}
.termet input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.termet label{
    font-size: 0.7rem;
}
.termet a{
     color:rgb(17,107,143); 
     text-decoration: none;
}
